*{
  margin:0;
}
body::-webkit-scrollbar {
  display: none;
}


.app {
  background-color: #fafafa;
}

.app__header {
  padding: 20px;
  background-color: white;
  border-bottom: 1px solid lightgray;
  display: flex;
  align-items: center;
  justify-content:space-between ;
  position: sticky;
  top: 0;
  z-index: 1;
}

.app__headerImage {
  object-fit: contain;
  width: 135px;
}


.app__signup{
  display: flex;
  flex-direction: column;
}

.app__post{
  padding: 20px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-right: auto;
  margin-left: auto;
}
